n8n-workflows/01-telegram-listener.json
{
  "name": "01 - Telegram Listener",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-bot-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "ronku_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Telegram\nconst message = $input.first().json.message;\n\n// Get user info\nconst userId = message.from.id;\nconst username = message.from.username || message.from.first_name;\nconst chatId = message.chat.id;\nconst text = message.text || '';\n\n// Check if it's the owner (ronkuwonku)\nconst isOwner = username === 'ronkuwonku';\n\n// Determine if it's a command\nconst isCommand = text.startsWith('/');\nconst command = isCommand ? text.split(' ')[0].toLowerCase() : null;\n\n// Return structured data\nreturn [{\n  json: {\n    userId: userId.toString(),\n    username: username,\n    chatId: chatId.toString(),\n    text: text,\n    isCommand: isCommand,\n    command: command,\n    isOwner: isOwner,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.isCommand }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "workflowId": "={{$workflow.id}}",
        "options": {}
      },
      "name": "Execute Command Handler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "workflowId": "={{$workflow.id}}",
        "options": {}
      },
      "name": "Execute Gemini Chat",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Is Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Command?": {
      "main": [
        [
          {
            "node": "Execute Command Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Gemini Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["ronku-bot", "telegram"]
}
