n8n-workflows/03-command-handler.json
{
  "name": "03 - Command Handler",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse command and arguments\nconst text = $input.first().json.text;\nconst parts = text.split(' ');\nconst command = parts[0].toLowerCase();\nconst args = parts.slice(1).join(' ');\n\n// Extract command name without /\nconst commandName = command.replace('/', '');\n\nreturn [{\n  json: {\n    command: commandName,\n    args: args,\n    fullText: text,\n    chatId: $input.first().json.chatId,\n    userId: $input.first().json.userId,\n    username: $input.first().json.username\n  }\n}];"
      },
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "help",
              "output": 0
            },
            {
              "value": "status",
              "output": 1
            },
            {
              "value": "remember",
              "output": 2
            },
            {
              "value": "recall",
              "output": 3
            },
            {
              "value": "clear",
              "output": 4
            },
            {
              "value": "read",
              "output": 5
            },
            {
              "value": "list",
              "output": 6
            },
            {
              "value": "exec",
              "output": 7
            },
            {
              "value": "email",
              "output": 8
            }
          ]
        }
      },
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "ЁЯСЛ Hey there! Here are the things I can help you with:\\n\\nЁЯТм **Chat** - Just message me naturally\\nЁЯУК **/status** - Check your Mac's system status\\nЁЯза **/remember [fact]** - I'll remember something for you\\nЁЯТн **/recall** - Show what I remember\\nЁЯЧСя╕П **/clear** - Clear conversation history\\nЁЯУБ **/read [filepath]** - Read a text file\\nЁЯУВ **/list [directory]** - List directory contents\\nтЪб **/exec [command]** - Run a safe command\\n\\nЁЯУз **Email Commands:**\\n`/email auth` - Connect your Gmail account\\n`/email check` - Check unread emails\\n`/email read [id]` - Read a specific email\\n`/email reply [id]` - AI-powered reply drafts\\n`/email send` - Compose a new email\\n`/email search [query]` - Search your emails\\n\\nJust chat naturally or use any command above! ЁЯШК",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Help Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        850,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "ronku_bot"
        }
      }
    },
    {
      "parameters": {
        "command": "df -h",
        "cwd": "/Users/ronkuwonku"
      },
      "name": "Get Disk Usage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "command": "vm_stat | head -5",
        "cwd": "/Users/ronkuwonku"
      },
      "name": "Get Memory",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format status response\nconst diskOutput = $('Get Disk Usage').first().json.stdout || 'N/A';\nconst memOutput = $('Get Memory').first().json.stdout || 'N/A';\n\nconst message = `ЁЯУК **System Status**\\n\\nЁЯТ╛ **Disk Usage:**\\n\\`\\`\\`\\n${diskOutput}\\`\\`\\`\\n\\nЁЯза **Memory:**\\n\\`\\`\\`\\n${memOutput}\\`\\`\\`\\n\\nтП▒я╕П Last updated: ${new Date().toLocaleString()}`;\n\nreturn [{\n  json: {\n    message: message,\n    chatId: $input.first().json.chatId\n  }\n}];"
      },
      "name": "Format Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        250
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1250,
        250
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "ronku_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory (user_id, username, fact, timestamp) VALUES ($1, $2, $3, datetime('now'))",
        "additionalFields": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "fact",
              "value": "={{ $json.args }}"
            }
          ]
        }
      },
      "name": "Save Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        850,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "sqlite-credentials",
          "name": "ronku-bot-db"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "тЬЕ Got it! I'll remember that:\\\\n\\\\n\\\"{{ $json.args }}\\\"\\\\n\\\\nЁЯТб Use /recall to see everything I remember!",
        "additionalFields": {}
      },
      "name": "Confirm Remember",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "ronku_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fact FROM memory WHERE user_id = $1 ORDER BY timestamp DESC",
        "additionalFields": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            }
          ]
        }
      },
      "name": "Get All Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        850,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "sqlite-credentials",
          "name": "ronku-bot-db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format memory list\nconst items = $('Get All Memory').all();\n\nif (!items || items.length === 0) {\n  return [{\n    json: {\n      message: 'ЁЯза I don\\'t remember anything yet!\\n\\nUse /remember to tell me things I should remember. ЁЯШК',\n      chatId: $input.first().json.chatId\n    }\n  }];\n}\n\nlet message = 'ЁЯза **Here\\'s what I remember about you:**\\n\\n';\nitems.forEach((item, index) => {\n  message += `${index + 1}. ${item.json.fact}\\n`;\n});\n\nmessage += '\\nЁЯТб Use /remember to add more!';\n\nreturn [{\n  json: {\n    message: message,\n    chatId: $input.first().json.chatId\n  }\n}];"
      },
      "name": "Format Memory List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Memory",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1250,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "ronku_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM conversations WHERE user_id = $1",
        "additionalFields": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.userId }}"
            }
          ]
        }
      },
      "name": "Clear History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        850,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "sqlite-credentials",
          "name": "ronku-bot-db"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "ЁЯз╣ **Conversation history cleared!**\\\\n\\\\nI'm starting fresh. What would you like to talk about? ЁЯШК",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Confirm Clear",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1050,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "ronku_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse email subcommand from args\n// Format: /email <subcommand> [args...]\n// e.g.  /email check\n//        /email read abc123\n//        /email reply abc123\n//        /email send\n//        /email search invoice\n//        /email auth\n\nconst args = $input.first().json.args || '';\nconst parts = args.trim().split(' ');\nconst subcommand = (parts[0] || 'check').toLowerCase();\nconst subArgs = parts.slice(1).join(' ');\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    subcommand: subcommand,\n    subArgs: subArgs\n  }\n}];"
      },
      "name": "Parse Email Subcommand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        750
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "auth",
              "output": 0
            },
            {
              "value": "check",
              "output": 1
            },
            {
              "value": "read",
              "output": 2
            },
            {
              "value": "reply",
              "output": 3
            },
            {
              "value": "send",
              "output": 4
            },
            {
              "value": "search",
              "output": 5
            }
          ]
        }
      },
      "name": "Route Email Subcommand",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        1050,
        750
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "ЁЯФР **Connect Your Gmail Account**\\n\\nClick the link below to authorize ronkbot:\\n\\n`http://localhost:5678/gmail-auth`\\n\\n**Steps:**\\n1. Click the link above (open in browser)\\n2. Sign in with your Google account\\n3. Grant the requested permissions\\n4. You'll see a success message\\n\\nAfter connecting, use `/email check` to see your emails! ЁЯУз\\n\\nтЪая╕П Make sure you've set up Gmail credentials in your `.env` file first. See `docs/EMAIL_SETUP.md` for details.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Email Auth Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        550
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "ronku_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "05 - Email Reader",
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "stringValue": "={{ $json.chatId }}"
            },
            {
              "name": "userId",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "username",
              "stringValue": "={{ $json.username }}"
            },
            {
              "name": "mode",
              "stringValue": "check"
            },
            {
              "name": "limit",
              "stringValue": "10"
            },
            {
              "name": "label",
              "stringValue": "INBOX"
            },
            {
              "name": "searchQuery",
              "stringValue": "is:unread"
            }
          ]
        }
      },
      "name": "Check Emails",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        650
      ]
    },
    {
      "parameters": {
        "workflowId": "05 - Email Reader",
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "stringValue": "={{ $json.chatId }}"
            },
            {
              "name": "userId",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "username",
              "stringValue": "={{ $json.username }}"
            },
            {
              "name": "mode",
              "stringValue": "read"
            },
            {
              "name": "emailId",
              "stringValue": "={{ $json.subArgs }}"
            }
          ]
        }
      },
      "name": "Read Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        750
      ]
    },
    {
      "parameters": {
        "workflowId": "06 - Email Sender",
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "stringValue": "={{ $json.chatId }}"
            },
            {
              "name": "userId",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "username",
              "stringValue": "={{ $json.username }}"
            },
            {
              "name": "mode",
              "stringValue": "reply"
            },
            {
              "name": "emailId",
              "stringValue": "={{ $json.subArgs }}"
            }
          ]
        }
      },
      "name": "Reply Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        850
      ]
    },
    {
      "parameters": {
        "workflowId": "06 - Email Sender",
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "stringValue": "={{ $json.chatId }}"
            },
            {
              "name": "userId",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "username",
              "stringValue": "={{ $json.username }}"
            },
            {
              "name": "mode",
              "stringValue": "compose"
            }
          ]
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        950
      ]
    },
    {
      "parameters": {
        "workflowId": "05 - Email Reader",
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "stringValue": "={{ $json.chatId }}"
            },
            {
              "name": "userId",
              "stringValue": "={{ $json.userId }}"
            },
            {
              "name": "username",
              "stringValue": "={{ $json.username }}"
            },
            {
              "name": "mode",
              "stringValue": "search"
            },
            {
              "name": "limit",
              "stringValue": "10"
            },
            {
              "name": "searchQuery",
              "stringValue": "={{ $json.subArgs }}"
            }
          ]
        }
      },
      "name": "Search Emails",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        1050
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Help Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Disk Usage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get All Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear History",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [
          {
            "node": "Parse Email Subcommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Disk Usage": {
      "main": [
        [
          {
            "node": "Format Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory": {
      "main": [
        [
          {
            "node": "Format Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status": {
      "main": [
        [
          {
            "node": "Send Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "main": [
        [
          {
            "node": "Confirm Remember",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Memory": {
      "main": [
        [
          {
            "node": "Format Memory List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Memory List": {
      "main": [
        [
          {
            "node": "Send Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear History": {
      "main": [
        [
          {
            "node": "Confirm Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Subcommand": {
      "main": [
        [
          {
            "node": "Route Email Subcommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Email Subcommand": {
      "main": [
        [
          {
            "node": "Email Auth Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "ronku-bot",
    "commands"
  ]
}