n8n-workflows/03-command-handler.json
{
  "name": "03 - Command Handler",
  "nodes": [
    {
      "id": "c0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "parameters": {}
    },
    {
      "id": "c1",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "parameters": {
        "jsCode": "const text = $input.first().json.text || '';\nconst parts = text.trim().split(/\\s+/);\nconst commandName = (parts[0] || '').replace('/', '').toLowerCase();\nconst args = parts.slice(1).join(' ');\nreturn [{ json: {\n  command: commandName,\n  args,\n  fullText: text,\n  chatId: $input.first().json.chatId,\n  userId: $input.first().json.userId,\n  username: $input.first().json.username\n} }];"
      }
    },
    {
      "id": "c2",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        540,
        300
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.command }}",
        "rules": {
          "rules": [
            {
              "value": "help",
              "output": 0
            },
            {
              "value": "clear",
              "output": 1
            },
            {
              "value": "status",
              "output": 2
            },
            {
              "value": "exec",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      }
    },
    {
      "id": "c-help",
      "name": "Help Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        60
      ],
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "👋 *Hey Rohan!* Here's what I can do:\n\n💬 *Chat* — Just message me naturally. I can:\n  • Run commands on your Mac\n  • Read & write files\n  • Remember things for you\n  • Search your memory\n  • Set reminders & TODOs\n  • Send macOS notifications\n\n⚡ *Slash commands (fast path):*\n`/status` — Mac disk + memory snapshot\n`/exec <cmd>` — Run a shell command directly\n`/clear` — Start a fresh conversation\n`/help` — This message\n\n🧠 *For everything else, just ask!*\nExamples:\n_\"remind me to call mom at 5pm\"_\n_\"what files changed in my project today?\"_\n_\"what do you know about me?\"_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot (auto)"
        }
      }
    },
    {
      "id": "c-clear-brain",
      "name": "Clear Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        200
      ],
      "parameters": {
        "method": "DELETE",
        "url": "http://host.docker.internal:4242/brain/session",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chatId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c-clear-confirm",
      "name": "Clear Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        200
      ],
      "parameters": {
        "chatId": "={{ $('Parse Command').item.json.chatId }}",
        "text": "🧹 Fresh start! Conversation history cleared.\n\nWhat's on your mind?",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot (auto)"
        }
      }
    },
    {
      "id": "c-status-disk",
      "name": "Get Disk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        340
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4242/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tool\": \"shell\", \"args\": {\"command\": \"df -h / | tail -1\"}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c-status-mem",
      "name": "Get Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4242/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tool\": \"shell\", \"args\": {\"command\": \"memory_pressure | head -1\"}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c-status-format",
      "name": "Format Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        400
      ],
      "parameters": {
        "jsCode": "const disk = ($('Get Disk').item.json.output || 'n/a').trim();\nconst mem  = ($('Get Memory').item.json.output || 'n/a').trim();\nconst msg = `📊 *System Status*\n\n💾 *Disk (/)* \\`${disk}\\`\n🧠 *Memory* ${mem}\n⏱ ${new Date().toLocaleString('en-US', {timeZone:'America/New_York'})}`;\nreturn [{ json: { message: msg, chatId: $('Parse Command').item.json.chatId } }];"
      }
    },
    {
      "id": "c-status-send",
      "name": "Send Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot (auto)"
        }
      }
    },
    {
      "id": "c-exec-run",
      "name": "Run Exec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        580
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4242/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tool: 'shell', args: { command: $json.args } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c-exec-format",
      "name": "Format Exec Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        580
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst out = (result.output || result.error || 'No output').trim();\nconst icon = result.success === false ? '❌' : '✅';\nconst cmd = $('Parse Command').item.json.args;\nconst msg = `${icon} \\`${cmd}\\`\\n\\`\\`\\`\\n${out.slice(0,3000)}\\`\\`\\``;\nreturn [{ json: { message: msg, chatId: $('Parse Command').item.json.chatId } }];"
      }
    },
    {
      "id": "c-exec-send",
      "name": "Send Exec Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        580
      ],
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot (auto)"
        }
      }
    },
    {
      "id": "c-unknown",
      "name": "Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        700
      ],
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "🤔 I don't know that command. Try `/help` to see what I can do, or just chat with me naturally!",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot (auto)"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Help Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Exec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Session": {
      "main": [
        [
          {
            "node": "Clear Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Disk": {
      "main": [
        [
          {
            "node": "Format Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory": {
      "main": [
        [
          {
            "node": "Format Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status": {
      "main": [
        [
          {
            "node": "Send Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Exec": {
      "main": [
        [
          {
            "node": "Format Exec Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Exec Result": {
      "main": [
        [
          {
            "node": "Send Exec Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "meta": {
    "description": "Lean command handler: /help (static), /clear (brain/session DELETE), /status (mac-agent shell), /exec (mac-agent shell). All other commands route to Unknown. Memory/recall/read/list are now AI Agent tools."
  }
}