n8n-workflows/11-anomaly-monitor.json
{
    "name": "11 - Anomaly Monitor",
    "nodes": [
        {
            "id": "trig",
            "name": "Every Hour",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                100,
                300
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 * * * *"
                        }
                    ]
                }
            }
        },
        {
            "id": "n-owner",
            "name": "Get Owner",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                320,
                300
            ],
            "parameters": {
                "method": "GET",
                "url": "http://host.docker.internal:4242/brain/owner",
                "options": {
                    "timeout": 5000
                }
            }
        },
        {
            "id": "n-check-disk",
            "name": "Check Disk Suppression",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                540,
                300
            ],
            "parameters": {
                "method": "GET",
                "url": "http://host.docker.internal:4242/brain/alert-check",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "type",
                            "value": "disk_full"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    },
                    "timeout": 5000
                }
            }
        },
        {
            "id": "n-should-alert",
            "name": "Should Alert?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                760,
                300
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.should_alert }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            }
        },
        {
            "id": "n-get-disk",
            "name": "Get Disk Usage",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                980,
                200
            ],
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:4242/execute",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"tool\": \"shell\", \"args\": {\"command\": \"df / | tail -1 | awk '{print $5}' | tr -d '%'\"}}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    },
                    "timeout": 10000
                }
            }
        },
        {
            "id": "n-threshold",
            "name": "Disk > 90%?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1200,
                200
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ parseInt($json.output) }}",
                            "rightValue": 90,
                            "operator": {
                                "type": "number",
                                "operation": "gte"
                            }
                        }
                    ]
                }
            }
        },
        {
            "id": "n-ack",
            "name": "Ack Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1420,
                100
            ],
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:4242/brain/alert-ack",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "type",
                            "value": "disk_full"
                        }
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            }
        },
        {
            "id": "n-alert",
            "name": "Send Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1420,
                240
            ],
            "parameters": {
                "chatId": "={{ $('Get Owner').item.json.chat_id }}",
                "text": "⚠️ *Disk Space Alert*\n\nYour disk is at {{ $('Get Disk Usage').item.json.output.trim() }}% capacity — getting full!\n\nRun `df -h /` for details, or ask me to help clean up.",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "credentials": {
                "telegramApi": {
                    "id": "",
                    "name": "Telegram Bot (auto)"
                }
            }
        }
    ],
    "connections": {
        "Every Hour": {
            "main": [
                [
                    {
                        "node": "Get Owner",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Owner": {
            "main": [
                [
                    {
                        "node": "Check Disk Suppression",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Disk Suppression": {
            "main": [
                [
                    {
                        "node": "Should Alert?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Should Alert?": {
            "main": [
                [
                    {
                        "node": "Get Disk Usage",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Get Disk Usage": {
            "main": [
                [
                    {
                        "node": "Disk > 90%?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Disk > 90%?": {
            "main": [
                [
                    {
                        "node": "Ack Alert",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "description": "Hourly anomaly monitor. Checks disk usage with 4-hour suppression window to prevent alert spam."
    }
}